* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #62a35f;
    color:#d6d6d6;
}

header .hamburger {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
}
header .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #11471c;
    margin: 5px;
}

header #toggle-menu {
    position: absolute;
    left: -100px;
}

#toggle-menu:checked ~ nav {
    transform: translateX(0%);
}

header nav {
    position: absolute;
    top:52px;
    left: 0px;
    width: 90vw;
    height: auto;
    background-color: #11471c;
    box-shadow: 0px 0px 10px #000000;
    z-index: 100;
    transform: translateX( -100%);
}

header nav ul {
    padding:0px;
    margin:0px;
    list-style: none;
}

header nav ul li a {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #d6d6d6;
    box-shadow: 0px 0px 5px #62a35f;
    transition: background-color 1s linear, color 1s linear;
}

header nav ul li a:hover {
    background-color: #ccc;
    color: #333;
}

header img{
    width: 75px;
    height: 75px;
}

main {
    padding: 0.5rem;
    min-height: calc(100vh - 90px);
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 250px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: -0.5rem;
}

.titulo h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.titulo p{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 900px;

}

.preguntas-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 1rem auto 1rem auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.pregunta-card {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    align-items:normal;
}

.pregunta-card h2{
    font-size: 1.5rem;
    margin-bottom: 5px;
}

footer {
    background-color: #62a35f;
    color: #d6d6d6;
    display: flex;
    border: 1px solid #31522f;
    padding: 0.5rem;
    justify-content: space-around;
}

footer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    margin: 0;
}

@media (min-width: 1200px) {
    header {
        border: solid #31522f 1px;
    }

    header .hamburger {
        display: none;
    }

    header section {
        width:auto;
        text-align: left;
    }
    header nav {
        position: relative;
        top:auto;
        left:auto;
        width: auto;
        height: auto;
        box-shadow: none;
        transform: translateX(0%);
        background-color: transparent;
    }

    header nav ul {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    header nav ul li a {
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
    }

}

@media (max-width: 720px) {

    .titulo{
        max-height: 200px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .titulo h1 {
        font-size: 1.8rem;
        top: 5%;
        text-align: center;
    }

    .titulo p {
        font-size: 1.2rem;
        top: 25%;
        text-align: center;
    }

    .preguntas-container {
        max-width: 500px;
        flex-direction: column;
        align-items: center;
    }

    .pregunta-card {
        margin-bottom: 20px;
    }
}
